footer {
	background-color: $snow-grey;
	margin-top: 10px;
	min-height: 80px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    position: relative; 
}

.tips {
    float: left;
    width: 98%; 
	padding-top: 1.5rem;
	padding-bottom: .5rem;
	padding-left: 2%;

    @media screen and (min-width: $desktop-break) {
    	padding-right: 340px;
    }

	.tips__title {
		color: $snow-dark-blue;
		font-weight: $weight-bold;
		display: inline-block;
	}

	.tips__icon {
		color: $snow-light-blue;
	}

	.tips__container {
		display: inline; 

		p {
			display: none;
			padding: 1.7rem 0 .5rem .5rem;
			font-size: 20px;
			color: $snow-dark-blue;
			margin: 0;

			&.active {
				display: inline;
			}
		}
	}
}


.social {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
    line-height: 63px;
    padding: 0 1em;

    @media screen and (min-width: $desktop-break) {
    	display: block;
    }

	.social__nav {
		list-style: none;
		padding: 0;
	}

	.social__item {
		display: inline-block;
		color: $snow-light-blue;
		padding-left: .5rem;
	}

	.social__icon {
		padding: .5rem;
	}
}