
.footer__cont {
	background-color: $snow-grey;
	min-height: 50px;
	height:auto;
	margin-top: 1.5rem;
}

.tips {

	.tips__title {
		color: $snow-dark-blue;
		font-weight: $weight-bold;
		padding-top: 1.5rem;
		padding-left: .5rem;
		padding-bottom: .5rem;
		float: left;
		width: 35%; 

		@media screen and (min-width: 1350px) {
			width: 28%; 
		}
		@media screen and (min-width: 1600px) {
			width: 23%; 
		}
		@media screen and (min-width: 1800px) {
			width: 19%; 
		}
	}

	.tips__icon {
		color: $snow-light-blue;
	}

	
	.tips__container {
		position: relative;
		float: left;
		width: 65%; 

		@media screen and (min-width: 1350px) {
			width: 72%; 
		}
		@media screen and (min-width: 1600px) {
			width: 77%; 
		}
		@media screen and (min-width: 1800px) {
			width: 81%; 
		}
	
		p {
			display: none;
			padding-top: 1.7rem;
			padding-left: .5rem;
			padding-bottom: .5rem;
			font-size: 18px;
			position: absolute;
			color: $snow-dark-blue;
		}
	}
}


.social {
	padding: 1rem;
	.social__nav {
		list-style: none;
	}

	.social__item {
		display: inline-block;
		color: $snow-light-blue;
		padding-left: .5rem;
		text-align: right;
	}

	.social__icon {
		padding: .5rem;
	}
}