
/**
 * Aaron's edits -- is this close to BEM? ;)
 */
.module__wrap {
	position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    width: 50%;
	margin-top: 10px; //  Turned into px so that we can match 2x the horizontal module gutter (5px);

	@media screen and (min-width: $tablet-break) {
		float: left;
		width: (100%/3);
	}
	@media screen and (min-width: $desktop-break) {
		float: left;
		width: (100%/6);
	}
}


.module {
	background-color: $snow-grey;
	padding: 1rem;

	.module__header {
		color: $snow-dark-blue;
		font-size: 14px;
		text-align: center;
		font-weight: $weight-bold;
		margin: .5rem 0;
		height: 30px;

		@media screen and (min-width: 1300px) {
			height: 38px;
			font-size: 16px;
		}
		@media screen and (min-width: 1450px) {
			height: auto;
			font-size: 18px;
		}

	}

	.module__icon-wrap {
		text-align: center;
		margin: 0;

		@media screen and (min-width: 1300px) {
			float: left;
			width: 45%;

		}
	}

	.module__image{
		height: 75px;
	}

	.module__icon {
		margin: .5rem;
		line-height: 75px;
		i {
			font-size: 50px;
			color: #00afeb;
		}

	}

	.module__content{
		color: $snow-dark-blue;
		font-weight: $weight-bold;
	}

	.module__info {
		font-size: 24px;
		display: block;
		text-align: center;
   		margin-top: -20px;


		@media screen and (min-width: $x-large-desktop-break) {
			float: left;
			width: 54%;
    		margin-top: 0px;
			font-size: 26px;
		}

		@media screen and (min-width: $xx-large-desktop-break) {
			font-size: 32px;
		}

		p {
			padding: {
				top: 2rem;
			}

			@media screen and (min-width: $xx-large-desktop-break) {
				line-height: 2rem;
			}
			@media screen and (min-width: $xxx-large-desktop-break) {
				line-height: 2.5rem;
			}

			span {
				display: block;
				text-align: center;
				margin-top: 5px;
			}
		}

		&#connection {
			@media screen and (min-width: $xx-large-desktop-break) {
				font-size: 18px;
			}
		}
	}

	:after {
			content:"";
		    display:block;
		    clear:both;
		}
}
