/* Breakpoints are set in config.scss - used like @include desktop { styles here } - see https://davidwalsh.name/write-media-queries-sass */
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%; }

body {
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  color: #494949;
  margin: 0;
  background-color: #ffffff;
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }
  article:before, article:after, aside:before, aside:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after, footer:before, footer:after, header:before, header:after, hgroup:before, hgroup:after, main:before, main:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after {
    content: " ";
    display: table; }
  article:after, aside:after, details:after, figcaption:after, figure:after, footer:after, header:after, hgroup:after, main:after, menu:after, nav:after, section:after, summary:after {
    clear: both; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

pre {
  background: #ffffff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 10px 15px;
  text-align: left; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

[role="button"] {
  cursor: pointer; }

ul, ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  clear: both; }
  @media (min-width: 730px) {
    .container {
      width: 720px; } }
  @media (min-width: 970px) {
    .container {
      width: 960px; } }
  @media (min-width: 1180px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1210px) {
    .container {
      width: 1200px; } }
  @media (min-width: 1410px) {
    .container {
      width: 1400px; } }
  @media (min-width: 1610px) {
    .container {
      width: 1600px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  clear: both; }

.row {
  margin-left: -5px;
  margin-right: -5px;
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14 {
  float: left; }

.col-xs-1 {
  width: 7.14286%; }

.col-xs-2 {
  width: 14.28571%; }

.col-xs-3 {
  width: 21.42857%; }

.col-xs-4 {
  width: 28.57143%; }

.col-xs-5 {
  width: 35.71429%; }

.col-xs-6 {
  width: 42.85714%; }

.col-xs-7 {
  width: 50%; }

.col-xs-8 {
  width: 57.14286%; }

.col-xs-9 {
  width: 64.28571%; }

.col-xs-10 {
  width: 71.42857%; }

.col-xs-11 {
  width: 78.57143%; }

.col-xs-12 {
  width: 85.71429%; }

.col-xs-13 {
  width: 92.85714%; }

.col-xs-14 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 7.14286%; }

.col-xs-pull-2 {
  right: 14.28571%; }

.col-xs-pull-3 {
  right: 21.42857%; }

.col-xs-pull-4 {
  right: 28.57143%; }

.col-xs-pull-5 {
  right: 35.71429%; }

.col-xs-pull-6 {
  right: 42.85714%; }

.col-xs-pull-7 {
  right: 50%; }

.col-xs-pull-8 {
  right: 57.14286%; }

.col-xs-pull-9 {
  right: 64.28571%; }

.col-xs-pull-10 {
  right: 71.42857%; }

.col-xs-pull-11 {
  right: 78.57143%; }

.col-xs-pull-12 {
  right: 85.71429%; }

.col-xs-pull-13 {
  right: 92.85714%; }

.col-xs-pull-14 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 7.14286%; }

.col-xs-push-2 {
  left: 14.28571%; }

.col-xs-push-3 {
  left: 21.42857%; }

.col-xs-push-4 {
  left: 28.57143%; }

.col-xs-push-5 {
  left: 35.71429%; }

.col-xs-push-6 {
  left: 42.85714%; }

.col-xs-push-7 {
  left: 50%; }

.col-xs-push-8 {
  left: 57.14286%; }

.col-xs-push-9 {
  left: 64.28571%; }

.col-xs-push-10 {
  left: 71.42857%; }

.col-xs-push-11 {
  left: 78.57143%; }

.col-xs-push-12 {
  left: 85.71429%; }

.col-xs-push-13 {
  left: 92.85714%; }

.col-xs-push-14 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 7.14286%; }

.col-xs-offset-2 {
  margin-left: 14.28571%; }

.col-xs-offset-3 {
  margin-left: 21.42857%; }

.col-xs-offset-4 {
  margin-left: 28.57143%; }

.col-xs-offset-5 {
  margin-left: 35.71429%; }

.col-xs-offset-6 {
  margin-left: 42.85714%; }

.col-xs-offset-7 {
  margin-left: 50%; }

.col-xs-offset-8 {
  margin-left: 57.14286%; }

.col-xs-offset-9 {
  margin-left: 64.28571%; }

.col-xs-offset-10 {
  margin-left: 71.42857%; }

.col-xs-offset-11 {
  margin-left: 78.57143%; }

.col-xs-offset-12 {
  margin-left: 85.71429%; }

.col-xs-offset-13 {
  margin-left: 92.85714%; }

.col-xs-offset-14 {
  margin-left: 100%; }

@media (min-width: 720px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14 {
    float: left; }

  .col-sm-1 {
    width: 7.14286%; }

  .col-sm-2 {
    width: 14.28571%; }

  .col-sm-3 {
    width: 21.42857%; }

  .col-sm-4 {
    width: 28.57143%; }

  .col-sm-5 {
    width: 35.71429%; }

  .col-sm-6 {
    width: 42.85714%; }

  .col-sm-7 {
    width: 50%; }

  .col-sm-8 {
    width: 57.14286%; }

  .col-sm-9 {
    width: 64.28571%; }

  .col-sm-10 {
    width: 71.42857%; }

  .col-sm-11 {
    width: 78.57143%; }

  .col-sm-12 {
    width: 85.71429%; }

  .col-sm-13 {
    width: 92.85714%; }

  .col-sm-14 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 7.14286%; }

  .col-sm-pull-2 {
    right: 14.28571%; }

  .col-sm-pull-3 {
    right: 21.42857%; }

  .col-sm-pull-4 {
    right: 28.57143%; }

  .col-sm-pull-5 {
    right: 35.71429%; }

  .col-sm-pull-6 {
    right: 42.85714%; }

  .col-sm-pull-7 {
    right: 50%; }

  .col-sm-pull-8 {
    right: 57.14286%; }

  .col-sm-pull-9 {
    right: 64.28571%; }

  .col-sm-pull-10 {
    right: 71.42857%; }

  .col-sm-pull-11 {
    right: 78.57143%; }

  .col-sm-pull-12 {
    right: 85.71429%; }

  .col-sm-pull-13 {
    right: 92.85714%; }

  .col-sm-pull-14 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 7.14286%; }

  .col-sm-push-2 {
    left: 14.28571%; }

  .col-sm-push-3 {
    left: 21.42857%; }

  .col-sm-push-4 {
    left: 28.57143%; }

  .col-sm-push-5 {
    left: 35.71429%; }

  .col-sm-push-6 {
    left: 42.85714%; }

  .col-sm-push-7 {
    left: 50%; }

  .col-sm-push-8 {
    left: 57.14286%; }

  .col-sm-push-9 {
    left: 64.28571%; }

  .col-sm-push-10 {
    left: 71.42857%; }

  .col-sm-push-11 {
    left: 78.57143%; }

  .col-sm-push-12 {
    left: 85.71429%; }

  .col-sm-push-13 {
    left: 92.85714%; }

  .col-sm-push-14 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 7.14286%; }

  .col-sm-offset-2 {
    margin-left: 14.28571%; }

  .col-sm-offset-3 {
    margin-left: 21.42857%; }

  .col-sm-offset-4 {
    margin-left: 28.57143%; }

  .col-sm-offset-5 {
    margin-left: 35.71429%; }

  .col-sm-offset-6 {
    margin-left: 42.85714%; }

  .col-sm-offset-7 {
    margin-left: 50%; }

  .col-sm-offset-8 {
    margin-left: 57.14286%; }

  .col-sm-offset-9 {
    margin-left: 64.28571%; }

  .col-sm-offset-10 {
    margin-left: 71.42857%; }

  .col-sm-offset-11 {
    margin-left: 78.57143%; }

  .col-sm-offset-12 {
    margin-left: 85.71429%; }

  .col-sm-offset-13 {
    margin-left: 92.85714%; }

  .col-sm-offset-14 {
    margin-left: 100%; } }
@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14 {
    float: left; }

  .col-md-1 {
    width: 7.14286%; }

  .col-md-2 {
    width: 14.28571%; }

  .col-md-3 {
    width: 21.42857%; }

  .col-md-4 {
    width: 28.57143%; }

  .col-md-5 {
    width: 35.71429%; }

  .col-md-6 {
    width: 42.85714%; }

  .col-md-7 {
    width: 50%; }

  .col-md-8 {
    width: 57.14286%; }

  .col-md-9 {
    width: 64.28571%; }

  .col-md-10 {
    width: 71.42857%; }

  .col-md-11 {
    width: 78.57143%; }

  .col-md-12 {
    width: 85.71429%; }

  .col-md-13 {
    width: 92.85714%; }

  .col-md-14 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 7.14286%; }

  .col-md-pull-2 {
    right: 14.28571%; }

  .col-md-pull-3 {
    right: 21.42857%; }

  .col-md-pull-4 {
    right: 28.57143%; }

  .col-md-pull-5 {
    right: 35.71429%; }

  .col-md-pull-6 {
    right: 42.85714%; }

  .col-md-pull-7 {
    right: 50%; }

  .col-md-pull-8 {
    right: 57.14286%; }

  .col-md-pull-9 {
    right: 64.28571%; }

  .col-md-pull-10 {
    right: 71.42857%; }

  .col-md-pull-11 {
    right: 78.57143%; }

  .col-md-pull-12 {
    right: 85.71429%; }

  .col-md-pull-13 {
    right: 92.85714%; }

  .col-md-pull-14 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 7.14286%; }

  .col-md-push-2 {
    left: 14.28571%; }

  .col-md-push-3 {
    left: 21.42857%; }

  .col-md-push-4 {
    left: 28.57143%; }

  .col-md-push-5 {
    left: 35.71429%; }

  .col-md-push-6 {
    left: 42.85714%; }

  .col-md-push-7 {
    left: 50%; }

  .col-md-push-8 {
    left: 57.14286%; }

  .col-md-push-9 {
    left: 64.28571%; }

  .col-md-push-10 {
    left: 71.42857%; }

  .col-md-push-11 {
    left: 78.57143%; }

  .col-md-push-12 {
    left: 85.71429%; }

  .col-md-push-13 {
    left: 92.85714%; }

  .col-md-push-14 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 7.14286%; }

  .col-md-offset-2 {
    margin-left: 14.28571%; }

  .col-md-offset-3 {
    margin-left: 21.42857%; }

  .col-md-offset-4 {
    margin-left: 28.57143%; }

  .col-md-offset-5 {
    margin-left: 35.71429%; }

  .col-md-offset-6 {
    margin-left: 42.85714%; }

  .col-md-offset-7 {
    margin-left: 50%; }

  .col-md-offset-8 {
    margin-left: 57.14286%; }

  .col-md-offset-9 {
    margin-left: 64.28571%; }

  .col-md-offset-10 {
    margin-left: 71.42857%; }

  .col-md-offset-11 {
    margin-left: 78.57143%; }

  .col-md-offset-12 {
    margin-left: 85.71429%; }

  .col-md-offset-13 {
    margin-left: 92.85714%; }

  .col-md-offset-14 {
    margin-left: 100%; } }
@media (min-width: 1170px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14 {
    float: left; }

  .col-lg-1 {
    width: 7.14286%; }

  .col-lg-2 {
    width: 14.28571%; }

  .col-lg-3 {
    width: 21.42857%; }

  .col-lg-4 {
    width: 28.57143%; }

  .col-lg-5 {
    width: 35.71429%; }

  .col-lg-6 {
    width: 42.85714%; }

  .col-lg-7 {
    width: 50%; }

  .col-lg-8 {
    width: 57.14286%; }

  .col-lg-9 {
    width: 64.28571%; }

  .col-lg-10 {
    width: 71.42857%; }

  .col-lg-11 {
    width: 78.57143%; }

  .col-lg-12 {
    width: 85.71429%; }

  .col-lg-13 {
    width: 92.85714%; }

  .col-lg-14 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 7.14286%; }

  .col-lg-pull-2 {
    right: 14.28571%; }

  .col-lg-pull-3 {
    right: 21.42857%; }

  .col-lg-pull-4 {
    right: 28.57143%; }

  .col-lg-pull-5 {
    right: 35.71429%; }

  .col-lg-pull-6 {
    right: 42.85714%; }

  .col-lg-pull-7 {
    right: 50%; }

  .col-lg-pull-8 {
    right: 57.14286%; }

  .col-lg-pull-9 {
    right: 64.28571%; }

  .col-lg-pull-10 {
    right: 71.42857%; }

  .col-lg-pull-11 {
    right: 78.57143%; }

  .col-lg-pull-12 {
    right: 85.71429%; }

  .col-lg-pull-13 {
    right: 92.85714%; }

  .col-lg-pull-14 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 7.14286%; }

  .col-lg-push-2 {
    left: 14.28571%; }

  .col-lg-push-3 {
    left: 21.42857%; }

  .col-lg-push-4 {
    left: 28.57143%; }

  .col-lg-push-5 {
    left: 35.71429%; }

  .col-lg-push-6 {
    left: 42.85714%; }

  .col-lg-push-7 {
    left: 50%; }

  .col-lg-push-8 {
    left: 57.14286%; }

  .col-lg-push-9 {
    left: 64.28571%; }

  .col-lg-push-10 {
    left: 71.42857%; }

  .col-lg-push-11 {
    left: 78.57143%; }

  .col-lg-push-12 {
    left: 85.71429%; }

  .col-lg-push-13 {
    left: 92.85714%; }

  .col-lg-push-14 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 7.14286%; }

  .col-lg-offset-2 {
    margin-left: 14.28571%; }

  .col-lg-offset-3 {
    margin-left: 21.42857%; }

  .col-lg-offset-4 {
    margin-left: 28.57143%; }

  .col-lg-offset-5 {
    margin-left: 35.71429%; }

  .col-lg-offset-6 {
    margin-left: 42.85714%; }

  .col-lg-offset-7 {
    margin-left: 50%; }

  .col-lg-offset-8 {
    margin-left: 57.14286%; }

  .col-lg-offset-9 {
    margin-left: 64.28571%; }

  .col-lg-offset-10 {
    margin-left: 71.42857%; }

  .col-lg-offset-11 {
    margin-left: 78.57143%; }

  .col-lg-offset-12 {
    margin-left: 85.71429%; }

  .col-lg-offset-13 {
    margin-left: 92.85714%; }

  .col-lg-offset-14 {
    margin-left: 100%; } }
.background--inline {
  display: inline; }

.background--block {
  display: block; }

.float--left {
  float: left; }

.float--right {
  float: right; }

.font--bold {
  font-weight: 700; }

.font--black {
  font-weight: 800; }

.background--white {
  background: #ffffff; }

.background--whiter {
  background: #ebebeb; }

.text--white {
  color: #ffffff; }

.background--black {
  background: #494949; }

.background--blacker {
  background: #3a3a3a; }

.text--black {
  color: #494949; }

.height--full {
  height: 100%; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  padding: 0;
  margin: 0; }

h1, .h1 {
  font-size: 28px; }

h2, .h2 {
  font-size: 20px; }

h3, .h3 {
  font-size: 16px; }

p {
  margin: 0 0 10px; }

.padded {
  padding: 20px 0; }

.text--center {
  text-align: center; }

.text--lowercase {
  text-transform: lowercase; }

.text--uppercase {
  text-transform: uppercase; }

.text--capitalize {
  text-transform: capitalize; }

.weight--thin {
  font-weight: 300; }

.weight--normal {
  font-weight: 400; }

.weight--bold {
  font-weight: 700; }

.weight--black {
  font-weight: 800; }

header {
  background: url("../imgs/header.png") no-repeat center;
  background-size: cover;
  height: 120px; }

.logo__snowdome {
  float: left; }
  .logo__snowdome img {
    height: 175px; }

.logo__lightsource {
  text-align: right;
  margin-top: 2rem;
  float: right;
  margin-right: 1rem; }

.green {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 300;
  padding: .5rem;
  position: relative;
  top: 32px;
  display: inline-block;
  float: right; }
  .green #green {
    font-weight: 500;
    text-decoration: underline; }

/**
 * Aaron's edits -- is this close to BEM? ;)
 */
.module__wrap {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 50%;
  margin-top: 10px; }
  @media screen and (min-width: 720px) {
    .module__wrap {
      float: left;
      width: 33.33333%; } }
  @media screen and (min-width: 960px) {
    .module__wrap {
      float: left;
      width: 16.66667%; } }

.module {
  background-color: #f9f9f9;
  padding: 1rem; }
  .module .module__header {
    color: #004a8d;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    margin: .5rem 0;
    height: 30px; }
    @media screen and (min-width: 1300px) {
      .module .module__header {
        height: 38px;
        font-size: 16px; } }
    @media screen and (min-width: 1450px) {
      .module .module__header {
        height: auto;
        font-size: 18px; } }
  .module .module__icon-wrap {
    text-align: center;
    margin: 0; }
    @media screen and (min-width: 1300px) {
      .module .module__icon-wrap {
        float: left;
        width: 45%; } }
  .module .module__image {
    height: 75px; }
  .module .module__icon {
    margin: .5rem;
    line-height: 75px; }
    .module .module__icon i {
      font-size: 50px;
      color: #00afeb; }
  .module .module__content {
    color: #004a8d;
    font-weight: 700; }
  .module .module__info {
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: -20px; }
    @media screen and (min-width: 1200px) {
      .module .module__info {
        float: left;
        width: 54%;
        margin-top: 0px;
        font-size: 26px; } }
    @media screen and (min-width: 1400px) {
      .module .module__info {
        font-size: 32px; } }
    .module .module__info p {
      padding-top: 2rem; }
      @media screen and (min-width: 1400px) {
        .module .module__info p {
          line-height: 2rem; } }
      @media screen and (min-width: 1600px) {
        .module .module__info p {
          line-height: 2.5rem; } }
      .module .module__info p span {
        display: block;
        text-align: center;
        margin-top: 5px; }
    @media screen and (min-width: 1400px) {
      .module .module__info#connection {
        font-size: 18px; } }
  .module :after {
    content: "";
    display: block;
    clear: both; }

footer {
  background-color: #f9f9f9;
  margin-top: 10px;
  min-height: 80px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  position: relative; }

.tips {
  float: left;
  width: 98%;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 2%; }
  @media screen and (min-width: 960px) {
    .tips {
      padding-right: 340px; } }
  .tips .tips__title {
    color: #004a8d;
    font-weight: 700;
    display: inline-block; }
  .tips .tips__icon {
    color: #00afeb; }
  .tips .tips__container {
    display: inline; }
    .tips .tips__container p {
      display: none;
      padding: 1.7rem 0 .5rem .5rem;
      font-size: 20px;
      color: #004a8d;
      margin: 0; }
      .tips .tips__container p.active {
        display: inline; }

.social {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 63px;
  padding: 0 1em; }
  @media screen and (min-width: 960px) {
    .social {
      display: block; } }
  .social .social__nav {
    list-style: none;
    padding: 0; }
  .social .social__item {
    display: inline-block;
    color: #00afeb;
    padding-left: .5rem; }
  .social .social__icon {
    padding: .5rem; }

.table {
  width: 100%;
  margin: auto;
  padding: .5rem; }
  .table .table__key {
    color: #00afeb;
    font-weight: 400;
    text-align: left; }
  .table .table__value {
    text-align: right; }

html,
body {
  height: 100%; }

/*# sourceMappingURL=style.css.map */
